.bottom-section {
  background-image: url(../images/ice-forest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-basis: 50%;
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__day {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    flex-basis: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &-image {
      width: 75px;
      height: 75px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-temp,
    &-text,
    &-date {
      text-align: center;
      width: 100%;
      color: white;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    &-text {
      font-size: 16px;
    }
  }
}
