.top-section {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  background-color: #ae3dff;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 2.3;
  &__title {
    font-size: 24px;
  }
  &__weather-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    &-image {
      height: 100px;
      width: 100px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
    &-temperature {
      align-self: center;
      font-size: 24px;
    }
  }
  &__weather-header {
    text-align: center;
  }
  &__weather-footer {
    text-align: center;
  }
}
