.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #ae3dff;
  font-family: Arial, Helvetica, sans-serif;
  &__title {
    font-size: 24px;
    color: #ffffff;
  }
  &__weather-container {
    display: flex;
  }
}
